<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exàmen M06</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
</head>

<body ng-app='appLearn'>
    <div class="container" ng-controller="ExamenController">
        <div class="jumbotron text-center">
            <h1>Exàmen M06</h1>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>